<!-- 
Site Changes:

1.Remove Clinets
2.News (blog) = replace it
3.Remove partners -->
<div class="header">
  <div class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-envelope"></i> &nbsp;&nbsp; INFO@DETECTIVE.COM</div>
            <div class="col-md-7">
              <i class="fa fa-phone"></i> &nbsp;&nbsp; +99 9870863702</div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 text-right">
          <a style="color:#353b40 !important;" href="/#/register">Register</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="col-sm-4">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <!-- <img src="../../assets/img/logo.png" class="img-responsive" alt=""> </a> -->
              <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
              <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">ON</font>
            </a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="navbar-right">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/#/home"> Home </a>
                </li>
                <li class="active">
                  <a href="/#/about"> About us </a>
                </li>
                <li class=" dropdown ">
                    <a href="/#/services" class=" dropdown-toggle"  data-toggle="dropdown"> Services </a>
                    <ul class="dropdown-menu">
                        <li><a href="/#/cservices">Corporate Services</a></li>
                        <li><a href="/#/services"> Personal Services</a></li>
                      </ul>
                </li>


                <li>
                  <a href="/#/news"> News </a>
                </li>
                <li class="">
                  <a href="/#/contact"> Contact</a>
                </li>
               
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.container- -->
  </nav>
</div>
<div class="clearfix"></div>
<!--slider HTML section is here-->
<div class="section">

  <div id="carousel-example" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="#">
          <img src="../../assets/img/banner-3.jpg" />
        </a>
        <div class="container">

          <div class="carousel-caption">
            <div class="carousel-heading">Unearthing truth is our only mission</div>
            <p> We want to be the top detective agency in India and get recognition over the world as one of
              <br>the best private detective agency.</p>

          </div>
        </div>
        <!-- <div class="contact-info">

          <ul class="nav navbar-nav carousel-content">
            <li>
              <i class="fa fa-phone"></i>
            </li>
            <li>
              <a href="#"> +99 9870863702 </a>
            </li>
          </ul>
          <br>
          <ul class="nav navbar-nav carousel-content">
            <li>
              <i class="fa fa-envelope"></i>
            </li>
            <li>
              <a href="info@businessplus.com">INFO@DETECTIVE.COM </a>
            </li>
          </ul>
        </div> -->

      </div>
      <div class="item">
        <a href="#">
          <img src="../../assets/img/banner-2.jpg" />
        </a>
        <div class="container">

          <div class="carousel-caption">
            <div class="carousel-heading">Unearthing truth is our only mission</div>
            <p> We want to be the top detective agency in India and get recognition over the world as one of
              <br>the best private detective agency.</p>
          </div>
        </div>
        <!-- <div class="contact-info">

          <ul class="nav navbar-nav carousel-content">
            <li>
              <i class="fa fa-phone"></i>
            </li>
            <li>
              <a href="#"> +99 9870863702 </a>
            </li>
          </ul>
          <br>
          <ul class="nav navbar-nav carousel-content">
            <li>
              <i class="fa fa-envelope"></i>
            </li>
            <li>
              <a href="info@businessplus.com">INFO@DETECTIVE.COM </a>
            </li>
          </ul>
        </div> -->
      </div>
      <div class="item">
        <a href="#">
          <img src="../../assets/img/banner-1.jpg" />
        </a>
        <div class="carousel-caption">
          <div class="carousel-heading">Unearthing truth is our only mission</div>
          <p> We want to be the top detective agency in India and get recognition over the world as one of
            <br>the best private detective agency.</p>
        </div>
      </div>
      <!-- <div class="contact-info">

        <ul class="nav navbar-nav carousel-content">
          <li>
            <i class="fa fa-phone"></i>
          </li>
          <li>
            <a href="#"> +99 9870863702 </a>
          </li>
        </ul>
        <br>
        <ul class="nav navbar-nav carousel-content">
          <li>
            <i class="fa fa-envelope"></i>
          </li>
          <li>
            <a href="info@businessplus.com">INFO@DETECTIVE.COM </a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
<!--about HTML section is here-->
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h2> About Us
            <p>
              <i> Our Short Story</i>
            </p>
          </h2>
        </div>
      </div>
      <div class="col-md-12">
        <p>Eyes On detective agency started its operations in August 2018. We are passionate about unearthing the truth and
          help people and private firms with their issues that need a secret investigation. Our investigation services are
          top class as we have a good mix of ex-corporate professionals and personnel that are well trained for the investigation
          job. Desiring to be a top private detective agency of India, our policies and work methods are structured and follow
          a standard operating procedure. </p>
      </div>
      
    </div>
  </div>
  <div class="our-view">
    <div class="container">
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">A competent team: </div>
          <p>

            Our entire team of male and female detectives has received specialized training from retired and well known detective agents
            from the police department and armed forces. The training received from these professionals is the backbone
            of our detective agency and lends fuel to fire our passion to higher levels. The training imparted to our young
            detectives has made them daring, disciplined and fit; physically and mentally. Another big advantage that our
            team has is the knowledge of Civil and Criminal Laws which was imparted to them by the trainers. With our team
            and the professional approach, we have no doubt that Eyes On will soon be a top private detective agency of
            India. .
          </p>
        </div>
      </div>
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Latest surveillance devices: </div>
          <p>Our competent team is ably supported by the most modern surveillance devices. We do not compromise with our investigations
            in any manner. Following the advice of the professional detectives, we have with us all the needed devices
            for investigation and the technical knowhow on how to use these devices to their best effect. We give our best
            at all the levels to deliver results as per your expectations.</p>
        </div>
      </div>
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Client safety and secrecy ensured:

          </div>
          <p>Every investigation that we undertake is kept confidential and all our employees have to sign the confidentiality
            agreement when we hire them. There is a strict and steep financial and legal clause in our employee confidentiality
            agreement that ensures that none of our employees deviate from our policy of secrecy. The company’s vision
            to be a top private detective agency of India is shared at all the levels as all our employees contribute to
            the mission.

          </p>
        </div>
      </div>
    
      <div class="row">
         
      <p>          
         <strong> Born out of passion: A short story of our Genesis </strong> <br>
          (Note: All the names of persons mentioned in the story below have been changed for confidentiality)    <br>      
          Our agency was born out of an unofficial investigation aimed at helping out a friend. One of our founders; Ketan who resides 
          in Pune city since last 15 years has a childhood friend named Samir who lives in his native city Kolhapur. A few years back,
           Samir was looking for a suitable life partner and through a matrimonial journal of his society, short listed a girl based
            in Pune. The formal meeting was arranged between the families of the girl named Neha and Samir. Everything went well as 
            Samir and Neha liked each other and so did their respective families. 
          Before taking the decision to marry Neha, Samir wanted to make sure that the girl was of a sound character. Like any friend 
          would, Samir asked help from his friend Ketan to find out more about Neha. Taking three days off from his corporate job, Ketan 
          started following Neha’s routine. On the third day Ketan clicked Neha kissing a boy in a garden. As any good friend would, he
           informed Samir of the outcome of his investigation of three days. 
           <br><br>Ketan had saved Samir from living a life full of lies. That day, the bond of friendship got cemented for life! As Ketan got
           back to his routine, that episode of Samir and Neha would not leave his mind. That day he realized how he can contribute 
           to the lives of people and feel happy all the way doing it.
           <br><br>One thing led to another and friends who believed in his mission, joined Ketan to form the detective agency ‘Eyes On.’
      </p> 
    
    </div>
  </div>

  <div class="contact">
    <div class="container">
      <div class="row contact-caption">
        <div class="col-md-4 col-sm-4">
          <br>
          <!-- <img src="../../assets/img/logo.png" /> -->
          <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
          <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">on</font>
          <p>Detective Service</p>
          <p>
            Goodwill 24 Shoppee, Office No. 117, First Floor, Lohgaon, Pune – 411047 (Maharashtra)</p>
          <hr>
          <p>Phone: 9403020116</p>

          <hr>
          <p>fax: 9403020116</p>

          <!-- social media icons -->
          <ul class="social">
            <li>
              <a href="#">
                <i class="fa fa-lg fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-lg fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-lg fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-lg fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="title">NAVIGATION </div>
          <ul class="navigation">
            <li>
              <a href="index.html"> Home </a>
            </li>
            <hr>
            <li>
              <a href="About.html"> About us </a>
            </li>
            <hr>
            <li>
              <a href="Services.html"> Services </a>
            </li>
            <hr>
            <li>
              <a href="Client.html"> Clients </a>
            </li>
            <hr>
            <li>
              <a href="Blog"> Blog </a>
            </li>
            <hr>
            <li>
              <a href="Pages"> Pages </a>
            </li>
            <hr>
            <li>
              <a href="Contact"> Contact</a>
            </li>
            <hr>
          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="title">QUICK CONTACT US</div>
          <form role="form" class="form-inline">
            <input type="email" placeholder="Name*" id="name" class="form-control">
            <input type="text" placeholder="Email" id="Email" class="form-control">
            <br>
            <textarea placeholder="Feedback*" rows="3" id="message" class="form-control"></textarea>
            <br>
            <br>
            <button class="btn btn-submit btn-default" type="submit">SUBMIT NOW</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script>
    $('.carousel').carousel({
      interval: 10000 //changes the speed
    })
  </script>
  <!-- </body>
  
  </html> -->