<div class="header">
    <div class="top-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="row">
              <div class="col-md-5">
                <i class="fa fa-envelope"></i> &nbsp;&nbsp; INFO@DETECTIVE.COM</div>
              <div class="col-md-7">
                <i class="fa fa-phone"></i> &nbsp;&nbsp; +99 9870863702</div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 text-right">
            <a style="color:#353b40 !important;" href="/#/register">Register</a>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="col-sm-4">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <!-- <img src="../../assets/img/logo.png" class="img-responsive" alt=""> </a> -->
                <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
                <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">ON</font>
              </a>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="navbar-right">
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                  <li >
                    <a href="/#/home"> Home </a>
                  </li>
                  <li>
                    <a href="/#/about"> About us </a>
                  </li>
                  <li class=" dropdown ">
                    <a href="/#/services" class=" dropdown-toggle" data-toggle="dropdown"> Services </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/#/cservices">Corporate Services</a>
                      </li>
                      <li>
                        <a href="/#/services"> Personal Services</a>
                      </li>
                    </ul>
                  </li>
  
                  <li>
                    <a href="/#/news"> News </a>
                  </li>
                  <li class="active">
                    <a href="/#/contact"> Contact</a>
                  </li>
                  <li class="">
                    <a href="/#/register">Register</a>
                  </li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container- -->
    </nav>
  </div>
  <div class="clearfix"></div>
  <!--slider HTML section is here-->
  <div class="section">
  
    <div id="carousel-example" class="carousel slide " data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example" data-slide-to="1"></li>
        <li data-target="#carousel-example" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <a href="#">
            <img src="../../assets/img/banner-3.jpg" />
          </a>
          <div class="container">
  
            <div class="carousel-caption">
              <div class="carousel-heading">Unearthing truth is our only mission</div>
              <p> We want to be the top detective agency in India and get recognition over the world as one of
                <br>the best private detective agency.</p>
  
            </div>
          </div>
          <!-- <div class="contact-info">
  
            <ul class="nav navbar-nav carousel-content">
              <li>
                <i class="fa fa-phone"></i>
              </li>
              <li>
                <a href="#"> +99 9870863702 </a>
              </li>
            </ul>
            <br>
            <ul class="nav navbar-nav carousel-content">
              <li>
                <i class="fa fa-envelope"></i>
              </li>
              <li>
                <a href="info@businessplus.com">INFO@DETECTIVE.COM </a>
              </li>
            </ul>
          </div> -->
  
        </div>
        <div class="item">
          <a href="#">
            <img src="../../assets/img/banner-2.jpg" />
          </a>
          <div class="container">
  
            <div class="carousel-caption">
              <div class="carousel-heading">Unearthing truth is our only mission</div>
              <p> We want to be the top detective agency in India and get recognition over the world as one of
                <br>the best private detective agency.</p>
  
            </div>
          </div>
          <!-- <div class="contact-info">
  
            <ul class="nav navbar-nav carousel-content">
              <li>
                <i class="fa fa-phone"></i>
              </li>
              <li>
                <a href="#"> +99 9870863702 </a>
              </li>
            </ul>
            <br>
            <ul class="nav navbar-nav carousel-content">
              <li>
                <i class="fa fa-envelope"></i>
              </li>
              <li>
                <a href="info@businessplus.com">INFO@DETECTIVE.COM </a>
              </li>
            </ul>
          </div> -->
  
        </div>
        <div class="item">
          <a href="#">
            <img src="../../assets/img/banner-1.jpg" />
          </a>
          <div class="carousel-caption">
            <div class="carousel-heading">Unearthing truth is our only mission</div>
            <p> We want to be the top detective agency in India and get recognition over the world as one of
              <br>the best private detective agency.</p>
          </div>
        </div>
        <!-- <div class="contact-info">
  
            <ul class="nav navbar-nav carousel-content">
              <li>
                <i class="fa fa-phone"></i>
              </li>
              <li>
                <a href="#"> +99 9870863702 </a>
              </li>
            </ul>
            <br>
            <ul class="nav navbar-nav carousel-content">
              <li>
                <i class="fa fa-envelope"></i>
              </li>
              <li>
                <a href="info@businessplus.com">INFO@DETECTIVE.COM </a>
              </li>
            </ul>
          </div> -->
  
  
  
      </div>
    </div>
  
  </div>
  
  
  <!--Home HTML section is here-->
  
  <div class="get-in-touch">
      <div class="container">
        <div class="row contact-caption">
          <div class="col-md-12">
            <div class="caption">
              <h2> GET IN TOUCH
                <p><i>Feel Free To Contact Us</i> </p>
              </h2>
            </div>
          </div>
        </div>
       
          <div class="col-sm-12 col-md-8 col-lg-8 column">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18523.71720083352!2d73.9123717593593!3d18.51653882610224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c19297360133%3A0x5bd7a96434d18912!2sClarion+Technologies!5e0!3m2!1sen!2sin!4v1465307841668" width="100%" height="380" frameborder="0" class="column" style="border:0" allowfullscreen></iframe>
          </div>
    
        <div class="col-sm-12 col-md-4 col-lg-4 address ">
       
          <ul class="address-content"> <li>
            <div class="col-md-2 col-lg-2 col-sm-2">
            <i class=" fa fa-map-marker"></i></div>
            <div class="col-md-10 col-lg-10 col-sm-10">
                Eyes On
                Detective Service
                Registered Office: <br> Goodwill 24 Shoppee, 
                Office No. 117, First Floor, Lohgaon, 
                Pune – 411047 (Maharashtra)
                
              </div>
            </li>
          </ul>
          <ul class="address-content">   <li> 
            <div class="col-md-2 col-lg-2 col-sm-2">
         <i class=" fa fa-phone"></i></div>    
              <div class="col-md-10 col-lg-10 col-sm-10">
                 Phone:9403020116 <br>
                 fax: 9403020116</div>
            </li>
          </ul>
          <ul class="address-content"><li>
             <div class="col-md-2 col-lg-2 col-sm-2">
             <i class=" fa fa-envelope"></i></div>
              <div class="col-md-10 col-lg-10 col-sm-10">
          
                INFO@DETECTIVE.COM                
              </div>
            </li>
          </ul>
         
        </div>
      </div>
    </div>
 
  
  <!--contact-->
  <div class="contact">
    <div class="container">
      <div class="row contact-caption">
        <div class="col-md-4 col-sm-4">
          <br>
  
          <!-- <img src="../../assets/img/logo.png" /> -->
          <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
          <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">on</font>
          <p>Detective Service</p>
          <p>
            Goodwill 24 Shoppee, Office No. 117, First Floor, Lohgaon, Pune – 411047 (Maharashtra)</p>
          <hr>
          <p>Phone: 9403020116</p>
  
          <hr>
          <p>fax: 9403020116</p>
  
          <!-- social media icons -->
          <ul class="social">
            <li>
              <a href="#">
                <i class="fa fa-lg fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-lg fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-lg fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-lg fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="title">NAVIGATION </div>
          <ul class="navigation">
            <li>
              <a href="index.html"> Home </a>
            </li>
            <hr>
            <li>
              <a href="About.html"> About us </a>
            </li>
            <hr>
            <li>
              <a href="Services.html"> Services </a>
            </li>
            <hr>
            <li>
              <a href="Client.html"> Clients </a>
            </li>
            <hr>
            <li>
              <a href="Blog"> Blog </a>
            </li>
            <hr>
            <li>
              <a href="Pages"> Pages </a>
            </li>
            <hr>
            <li>
              <a href="Contact"> Contact</a>
            </li>
            <hr>
          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="title">QUICK CONTACT US</div>
          <form role="form" class="form-inline">
            <input type="email" placeholder="Name*" id="name" class="form-control">
            <input type="text" placeholder="Email" id="Email" class="form-control">
            <br>
            <textarea placeholder="Feedback*" rows="3" id="message" class="form-control"></textarea>
            <br>
            <br>
            <button class="btn btn-submit btn-default" type="submit">SUBMIT NOW</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script>
    $('.carousel').carousel({
      interval: 10000 //changes the speed
    })
  </script>
  <!-- </body>
  
  </html> -->