<div class="header">
  <div class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-envelope"></i> &nbsp;&nbsp; INFO@DETECTIVE.COM</div>
            <div class="col-md-7">
              <i class="fa fa-phone"></i> &nbsp;&nbsp; +99 9870863702</div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 text-right">
          <a style="color:#353b40 !important;" href="/#/register">Register</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="col-sm-4">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <!-- <img src="../../assets/img/logo.png" class="img-responsive" alt=""> </a> -->
              <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
              <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">ON</font>
            </a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="navbar-right">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/#/home"> Home </a>
                </li>
                <li class="">
                  <a href="/#/about"> About us </a>
                </li>
                <li class=" dropdown " class="active">
                  <a href="/#/services" class=" dropdown-toggle" data-toggle="dropdown"> Services </a>
                  <ul class="dropdown-menu">
                    <li class="active">
                      <a href="/#/cservices">Corporate Services</a>
                    </li>
                    <li>
                      <a href="/#/services"> Personal Services</a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="/#/news"> News </a>
                </li>
                <li class="">
                  <a href="/#/contact"> Contact</a>
                </li>
                <li class="">
                  <a href="/#/register">Register</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.container- -->
  </nav>
</div>
<div class="clearfix"></div>
<!--slider HTML section is here-->
<div class="section">

  <div id="carousel-example" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="#">
          <img src="../../assets/img/banner-3.jpg" />
        </a>
        <div class="container">

          <div class="carousel-caption">
            <div class="carousel-heading">Unearthing truth is our only mission</div>
            <p> We want to be the top detective agency in India and get recognition over the world as one of
              <br>the best private detective agency.</p>

          </div>
        </div>


      </div>
      <div class="item">
        <a href="#">
          <img src="../../assets/img/banner-2.jpg" />
        </a>
        <div class="container">

          <div class="carousel-caption">
            <div class="carousel-heading">Unearthing truth is our only mission</div>
            <p> We want to be the top detective agency in India and get recognition over the world as one of
              <br>the best private detective agency.</p>
          </div>
        </div>

      </div>
      <div class="item">
        <a href="#">
          <img src="../../assets/img/banner-1.jpg" />
        </a>
        <div class="carousel-caption">
          <div class="carousel-heading">Unearthing truth is our only mission</div>
          <p> We want to be the top detective agency in India and get recognition over the world as one of
            <br>the best private detective agency.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!--about HTML section is here-->
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h2>Our Services
            <p>
              <i> what we are doing</i>
            </p>
          </h2>
        </div>
      </div>
      <div class="col-md-12">
        <p>We provide the best and reliable private detective services to the Corporate sector and to the Personal clients.
          Our detective services are available across the country. We have the ability and resources to carry out investigations
          at any place in India.
        </p>
        <div class="taglineText" style="padding-bottom: 15px;">
          We dare because we care!
        </div>

        <p>
          <strong>Corporate sector: </strong>
          <br> Thecut throat competition in business fuels frauds and unimaginable scenarios that can cause financial and intellectual
          losses to the organization. Although the companies have their policies to govern and control irregularities, frauds
          happen! We aid your business growth by creating a safer work environment and help in maintaining business ethics.

        </p>
      </div>

    </div>
  </div>
  <div class="our-view">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Our following services are in demand and we also undertake any customized investigation services needed by your esteemed
            organization:
          </p>
        </div>

      </div>
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Employee background verification: </div>
          <p>
            We check everything from character to professional credentials. A person without values cannot contribute.
          </p>
        </div>
      </div>
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Surveillance and monitoring of personnel holding key posts: </div>
          <p>Our secret surveillance will catch the corrupt before any harm comes to your organization. Call us to know about
            our surveillance services that can save you from major losses.
          </p>
        </div>
      </div>
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Investigating suspicious relationships in office:
          </div>
          <p>Granting favors to certain employees by their bosses is very unprofessional and not without a reason. We thoroughly
            investigate any illicit relationships and bring out the truth; thus preventing the damage likely to be caused
            to the company culture.
          </p>
        </div>
      </div>
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Detecting potential for frauds and Investigating frauds:
          </div>
          <p>
            We keep an eye on employees that hold sensitive posts like in the purchase department of the company, where favors are granted
            to procure orders. In case of any financial fraud, we have the potential to carry out thorough investigation
            and deliver the results with proof so that the culprit is nailed and penalized. Trust Eyes On, the professional
            private detective agency for most sensitive investigations.
          </p>
        </div>
      </div>
      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Employee unrest or labour issues:
          </div>
          <p> We secretly identify and report the personnel stroking the unrest in an organization and report the same with documentary,
            audio and video evidence. Catch them before they harm you.
            <br> Call Eyes On; your secret friend..
          </p>
        </div>
      </div>

      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Data Theft:
          </div>
          <p>This is a dangerous trend today wherein the sensitive data of the company is passed on to the competition causing
            phenomenal losses to business. With our modern equipments and training, we detect such thefts and contribute
            towards growth of your company. We are a top detective agency of India when it comes to investigations and results.
          </p>
        </div>
      </div>

      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Competitor business surveillance:
          </div>
          <p> Knowing about the competitor activities ensures success for the company. We monitor your competitors business in
            the areas that you want us to. Our reports are detailed and we leave no stone unturned to bring you the information
            that you seek from our services. Partner with the best detective services. Call Eyes on!
          </p>
        </div>
      </div>

      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Background checks for Business associates and Verification of assets, etc.:
          </div>
          <p> Getting associated with the wrong partners in business tarnishes the image of the organization. Frauds done by
            companies or dealers and distributors associated with the organization reflects badly upon the organization.
            It is always better to do a thorough background check on the firms intending to get associated with the organization.
            Contact us and experience the benefit an investigation can give. We are one of the best detective agencies in
            pune
          </p>
        </div>
      </div>

      <div class="row p-30">
        <div class="col-md-3">
          <img class="img-responsive" src="../../assets/img/img7.jpg">
        </div>
        <div class="col-md-9">
          <div class="title1">Electronic sweeping or Debugging services:
          </div>
          <p> If you suspect your place to be compromised or bugged by electronic recording devices, we will clear your doubt
            by sweeping the place clean (thorough checking with the aid of devices) and removing any such harmful devices.
            Do not take a chance. Call Eyes On, your partner in success.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Our investigations are meticulously planned to cover every aspect and are conducted without raising a doubt. We see, listen,
            believe and deliver just facts. Our investigation reports are supported by documentary and audio visual proofs;
            whichever are relevant. We follow all the professional business ethics that make us a top private detective agency.
          </p>
        </div>
        <div class="taglineText" style="padding-bottom: 15px;">
          When in doubt, finding the truth is the best option.
        </div>
      </div>

    </div>

  </div>


</div>

<div class="contact">
  <div class="container">
    <div class="row contact-caption">
      <div class="col-md-4 col-sm-4">
        <br>
        <!-- <img src="../../assets/img/logo.png" /> -->
        <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
        <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">on</font>
        <p>Detective Service</p>
        <p>
          Goodwill 24 Shoppee, Office No. 117, First Floor, Lohgaon, Pune – 411047 (Maharashtra)</p>
        <hr>
        <p>Phone: 9403020116</p>

        <hr>
        <p>fax: 9403020116</p>

        <!-- social media icons -->
        <ul class="social">
          <li>
            <a href="#">
              <i class="fa fa-lg fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="title">NAVIGATION </div>
        <ul class="navigation">
          <li>
            <a href="index.html"> Home </a>
          </li>
          <hr>
          <li>
            <a href="About.html"> About us </a>
          </li>
          <hr>
          <li>
            <a href="Services.html"> Services </a>
          </li>
          <hr>
          <li>
            <a href="Client.html"> Clients </a>
          </li>
          <hr>
          <li>
            <a href="Blog"> Blog </a>
          </li>
          <hr>
          <li>
            <a href="Pages"> Pages </a>
          </li>
          <hr>
          <li>
            <a href="Contact"> Contact</a>
          </li>
          <hr>
        </ul>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="title">QUICK CONTACT US</div>
        <form role="form" class="form-inline">
          <input type="email" placeholder="Name*" id="name" class="form-control">
          <input type="text" placeholder="Email" id="Email" class="form-control">
          <br>
          <textarea placeholder="Feedback*" rows="3" id="message" class="form-control"></textarea>
          <br>
          <br>
          <button class="btn btn-submit btn-default" type="submit">SUBMIT NOW</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script>
  $('.carousel').carousel({
    interval: 10000 //changes the speed
  })
</script>