<div class="header">
  <div class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-md-5">
              <i class="fa fa-envelope"></i> &nbsp;&nbsp; info@eyeson.co.in</div>
            <div class="col-md-7">
              <i class="fa fa-phone"></i> &nbsp;&nbsp;91 9403020116</div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12 text-right">
          <a style="color:#353b40 !important;" href="/#/register">Register</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="col-sm-4">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="../../assets/img/eyeson.png" class="img-responsive" alt=""> 
              <!-- <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
              <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">ON</font> -->
            </a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="navbar-right">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active">
                  <a href="/#/home"> Home </a>
                </li>
                <li>
                  <a href="/#/about"> About us </a>
                </li>
                <li class=" dropdown ">
                  <a href="/#/services" class=" dropdown-toggle" data-toggle="dropdown"> Services </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/#/cservices">Corporate Services</a>
                    </li>
                    <li>
                      <a href="/#/services"> Personal Services</a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="/#/news"> News </a>
                </li>
                <li class="">
                  <a href="/#/contact"> Contact</a>
                </li>
                
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.container- -->
  </nav>
</div>
<div class="clearfix"></div>
<!--slider HTML section is here-->
<div class="section">

  <div id="carousel-example" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="#">
          <img src="../../assets/img/banner-1.jpg" />
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="../../assets/img/banner-2.jpg" />
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="../../assets/img/banner-3.jpg" />
        </a>
      </div>
    </div>
  </div>
</div>
<!--Home HTML section is here-->

<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="taglineText" style="padding-bottom: 15px;">
          When in doubt, find the truth
        </div>
      </div>
      <div class="col-md-12">
        <p>We are a top private detective agency based at Pune. We investigate to find the truth. We dig out facts and provide
          relief to people and companies; which satisfies us immensely. We see ourselves as a pain reliever to people and
          companies as we take away their discomfort of bearing and rearing the lies forever.
          <br> Eyes On is a detective agency with young and experienced people. We are a young investigating agency as we have
          started business in August 2018; and we are experienced because our team has received exhaustive training from
          retired police detectives and ex-armed forces personnel. We are well prepared to take on the challenges of detecting
          the truth. We promise that while dealing with us, you will have a feel of working with a mature top detective agency.
        </p>
        <p>
          <strong>Mission:</strong> Unearthing truth is our only mission.
          <br>
          <strong>Vision:</strong> We want to be the top detective agency in India and get recognition over the world as one of the
          best private detective agency.
        </p>



      </div>
      <div class="taglineText" style="padding-bottom: 15px;">
        We are Young and Dare the impossible!
      </div>
    </div>
  </div>
</div>


<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h2> About Us
            <p>
              <i> Our Short Story</i>
            </p>
          </h2>
        </div>
      </div>
      <div class="col-md-12">
        <p>Eyes On detective agency started its operations in August 2018. We are passionate about unearthing the truth and
          help people and private firms with their issues that need a secret investigation. Our investigation services are
          top class as we have a good mix of ex-corporate professionals and personnel that are well trained for the investigation
          job. Desiring to be a top private detective agency of India, our policies and work methods are structured and follow
          a standard operating procedure. </p>
        <br>
        <button class="btn btn-default">
          <a href="/#/about">Read More</a>
        </button>
      </div>
    </div>
  </div>
</div>

<!---services HTML section is here-->
<div class="services">
  <div class="container">
    <div class="row services-caption">
      <div class="col-md-4">
        <div class="caption">
          <h2> services
            <p>
              <i> What we are doing</i>
            </p>
          </h2>
        </div>
      </div>
    </div>
    <div class="row services-blog">
      <!-- <div class="col-sm-6 ">
          <div class="col-sm-2 col-xs-12">
            <img src="../../assets/img/img-1.png" class="img-responsive" />
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4>
              <b class="heading">Boosting your business</b>
            </h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It was popularised in the 1960s with
              the. </p>


          </div>
        </div>
        <div class="col-sm-6 ">
          <div class="col-sm-2 col-xs-12">
            <img src="../../assets/img/img-2.png" class="img-responsive" />
          </div>
          <div class="col-sm-10 col-xs-12">
            <h4>
              <b class="heading">Analyzing bussness strategy</b>
            </h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It was popularised in the 1960s with
              the. </p>


          </div>
        </div> -->
      <div class="col-sm-6 ">
        <div class="col-sm-2 col-xs-12">
          <img src="../../assets/img/img-3.png" class="img-responsive" />
        </div>
        <div class="col-sm-10 col-xs-12">
          <h4>
            <b class="heading">Corporate sector</b>
          </h4>
          <p>The cut throat competition in business fuels frauds and unimaginable scenarios that can cause financial and intellectual
            losses to the organization. Although the companies have their policies to govern and control irregularities,
            frauds happen! We aid your business growth by creating a safer work environment and help in maintaining business
            ethics.
          </p>
          <button class="btn btn-default">
            <a href="/#/cservices">Read More</a>
          </button>

        </div>

      </div>
      <div class="col-sm-6 ">
        <div class="col-sm-2 col-xs-12">
          <img src="../../assets/img/img-4.png" class="img-responsive" />
        </div>
        <div class="col-sm-10 col-xs-12">
          <h4>
            <b class="heading">Personal Investigation </b>
          </h4>
          <p>

            One cannot be sure about an individual as the realism of anyone is not apparent. Thus judging a person on face value is risky.
            It is vital to know the reality of the people whom you are entrusting your emotions, life, property and money
            with. With so many love issues and extra marital relationships happening around us, it is imperative to find
            the facts when you are in doubt. </p>
          <button class="btn btn-default">
            <a href="/#/services">Read More</a>
          </button>
        </div>

      </div>
    </div>


  </div>
</div>



<div class="news">
  <div class="container">
    <div class="row news-caption">
      <div class="col-md-4">
        <div class="caption">
          <h2> News
            <p>
              <i> From Our Blog </i>
            </p>
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1 col-sm-1">
        <div class="blog">


          
          <p>{{date| date :'dd-MMM-yyyy'}}</p>
          <span style="height:1px; background:#e2971e; display:block; float:left; width:100%"></span>
          <span style="height:1px; background:#000; display:block; float:left; width:20%;"></span>

        </div>

        <div class="comment">
          <img src="../../assets/img/comment-icon.png" />
          <p> 8-com</p>

          <span style="height:1px; background:#e2971e; display:block; float:left; width:100%"></span>
          <span style="height:1px; background:#000; display:block; float:left; width:20%;"></span>

        </div>

        <div class="view">
          <img src="../../assets/img/view-icon.png" />
          <p> 16-view</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-5">
        <img src="../../assets/img/news-blog.jpg" class="img-responsive" />
        <br>
        <div class="heading">DIVORCE INVESTIGATION</div>
        <p>Divorces are unpleasant and sometimes a deadly fight. The partners can go to the extent of harming or planning
           harm to the life. There might be cases of false claims for getting more alimony from the husband. Such things
            need to be investigated. Call us for a professional detective service and you will be happy about this one
           decision.
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="heading">PRE-MARITAL INVESTIGATION </div>
        <p class="sub-heading"> 1-Aug-2018</p>
        <p>There is no denying the fact that today’s relationships are riskier than yesterdays or the earlier generations.
            With the passage of time, the values like truthfulness, loyalty, love are losing their sheen.....
        </p>
        <hr>
        <div class="heading">EMPLOYEE BACKGROUND VERIFICATION</div>
        <p class="sub-heading"> 4-Sept-2018   </p>
        <p>Employees and employers trust each other and a work culture thus created takes both of them ahead in their respective goals.
          Getting information about the employer is very easy as everything is open to be shared to the people.....
        </p>
        <br>
       
        <br>
         <button class="btn btn-default">
            <a href="/#/news">Read More</a>
          </button>
      </div>
    </div>
  </div>
</div>

<!--contact-->
<div class="contact">
  <div class="container">
    <div class="row contact-caption">
      <div class="col-md-4 col-sm-4">

        <a href="/#/home">
            <img src="../../assets/img/eyeson.png" class="img-responsive" alt=""> 
            <!-- <font style="Color:white; font-weight: bold; font-size:30px;">EYES</font>
            <font style="Color:#ffaf36; font-weight: bold; font-size:25px;">ON</font> -->
          </a>
     
       <br>
        <p>
          Goodwill 24 Shoppee, Office No. 117, First Floor, Lohgaon, Pune – 411047 (Maharashtra)</p>
        <hr>
        <p>Phone: 9403020116</p>

        <hr>
        <p>fax: 9403020116</p>

        <!-- social media icons -->
        <ul class="social">
          <li>
            <a href="#">
              <i class="fa fa-lg fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="title">NAVIGATION </div>
        <ul class="navigation">
          <li>
            <a href="/#/home"> Home </a>
          </li>
          <hr>
          <li>
            <a href="/#/about"> About us </a>
          </li>
          <hr>
          <li>
              <a href="/#/cservices">Corporate Services</a>
            </li>
            <hr>
            <li>
              <a href="/#/services"> Personal Services</a>
            </li>
          <hr>
          <li>
              <a href="/#/news"> News </a>
            </li>
          <hr>
          <li>
            <a href="/#/contact"> Contact</a>
          </li>
          <hr>
        </ul>
      </div>
      <div class="col-md-5 col-sm-5">
        <div class="title">QUICK CONTACT US</div>
        <div>          
           <label style="color:white; font-size:12px; padding:5px 0px;" class="control-label col-sm-12">{{responseMsg}} </label>
       </div>
     
        <form [formGroup]="contactForm" role="form" (ngSubmit)="quickContact(contactForm.value)" class="form-inline">
          <div class="form-group col-md-12" [ngClass]="{'has-error':!contactForm.controls['name'].valid && contactForm.controls['name'].touched}">
            <input type="type"   required class="form-control"  maxlength="25" placeholder="Enter Name*" [formControl]="contactForm.controls['name']">
          </div>
          <div class="form-group col-md-12" [ngClass]="{'has-error':!contactForm.controls['emailAddr'].valid && contactForm.controls['emailAddr'].touched}">
            <input type="type"   required class="form-control"  maxlength="25" placeholder="Enter Email*" [formControl]="contactForm.controls['emailAddr']">
          </div>
          <div class="form-group col-md-12" [ngClass]="{'has-error':!contactForm.controls['msg'].valid && contactForm.controls['msg'].touched}">
            <input type="type"   required class="form-control"  maxlength="50" placeholder="Enter Message*" [formControl]="contactForm.controls['msg']">
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!contactForm.valid">SUBMIT NOW</button>
        </form>
      

      </div>
    </div>
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script>
  $('.carousel').carousel({
    interval: 10000 //changes the speed
  })
</script>
<!-- </body>

</html> -->