<!-- <!doctype html>
<html> -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link href="images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<div class="container">
  <div class="detactive-form">
    <div class="row">
      <div class="col-md-4">
        <form [formGroup]="otpForm" (ngSubmit)="getOtp(otpForm.value)" class="form-inline">
          <div class="form-group" [ngClass]="{'has-error':!otpForm.controls['mobile'].valid && otpForm.controls['mobile'].touched}">
            <input type="type"   required class="form-control"  maxlength="10" placeholder="Enter Mobile Number" [formControl]="otpForm.controls['mobile']">
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!otpForm.valid">Generate OTP</button>
        </form>
      </div>
      <div class="col-md-4 " [ngClass]="{ 'disabled': otpDisable }">
        <form [formGroup]="verifyForm" (ngSubmit)="verifyOtp(verifyForm.value)" class="form-inline">
          <div class="form-group" [ngClass]="{'has-error':!verifyForm.controls['otp'].valid && verifyForm.controls['otp'].touched}">
            <input class="form-control"  maxlength="6"  type="text" placeholder="Enter OTP" [formControl]="verifyForm.controls['otp']">
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!verifyForm.valid">Verify</button>
        </form>       
      </div>
      <div class="col-md-4 text-right">             
        <button class="btn btn-default">      
            <a href="/#/home">Back</a>    
        </button>   
      </div>
    </div>
    <div>
        
      <label style="color: rgb(128, 128, 128); font-size:12px; padding:5px 0px;" class="control-label col-sm-12">{{responseMsg}} </label>
     
  </div>
  </div>
  <hr>
  <div class="detactive-tabs" [ngClass]="{ 'disabled': formDisable }">
    <ul class="nav nav-pills nav-justified">
      <li [class.active]="selectedTab==1">
        <a data-toggle="tab" href="#home">Personal</a>
      </li>
      <li  [class.active]="selectedTab==2" [ngClass]="{ 'disabled': mantoryDataNotSaved }">  
        <a data-toggle="tab" href="#payment">Pay Registration Fee Online (Rs. 1000)</a>
      </li>
      <li [class.active]="selectedTab==3" [ngClass]="{ 'disabled': printTabHide }">  
        <a data-toggle="tab" href="#printpage">Print Application</a>
      </li>
    </ul>
     <div class="tab-content" ><!-- -->
      <div id="home" class="tab-pane fade in " [class.active]="selectedTab==1" [ngClass]="{ 'disabled': !printTabHide }">

        <form [formGroup]="registrationForm" class="form-horizontal" (ngSubmit)="saveUser(registrationForm.value)">
           
            <!-- <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                <label style="color: rgb(128, 128, 128); font-size:12px; padding:5px 0px;" class="control-label col-sm-12">{{registrationForm.errors}} </label>
              </div>
            </div> 
          </div>-->
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3">Registration Id:</label>
                <div class="col-sm-8">
                  <label class="control-label">{{userForm.registrationId}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3"> Name of Candidate:</label>
                <div class=" col-sm-3">
    

                  <input required  maxlength="20" class="form-control" name="firstName" [(ngModel)]="userForm.firstName" type="text" placeholder="Enter First Name"
                    [ngClass]="{'has-error':!registrationForm.controls['firstName'].valid}" [formControl]="registrationForm.controls['firstName']">
                </div>
                <!-- We are using the ngClass directive to conditionally add a class to our div if the form is invalid -->
                <div class=" col-sm-3">
                  <input class="form-control"  maxlength="20"  name="middleName" [(ngModel)]="userForm.middleName" type="text" placeholder="Enter middle Name"  [ngClass]="{'has-error':!registrationForm.controls['middleName'].valid}" [formControl]="registrationForm.controls['middleName']">
                </div>
                <div class=" col-sm-3">
                  <input required class="form-control"  maxlength="20"  name="lastName" [(ngModel)]="userForm.lastName" type="text" placeholder="Enter Last Name" [ngClass]="{'has-error':!registrationForm.controls['lastName'].valid}"
                    [formControl]="registrationForm.controls['lastName']">
                </div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              
                <div class="form-group">
                  <label required class="control-label col-sm-6">Date of Birth:</label>
                  <div class="col-sm-6">
                  <!-- <input style="width: 253px;" type="date" data-date-inline-picker="false" data-date-format="DD MMMM YYYY"  class="datePcckerinput"
                   name="dateOfBirth " [(ngModel)]="userForm.dateOfBirth " [formControl]="registrationForm.controls[ 'dateOfBirth'] "   placeholder="YYYY-DD-MM" />
                   -->
                   <my-date-picker name="dateOfBirth" [options]="myDatePickerOptions" [(ngModel)]="model" (dateChanged)="onDateChanged($event)"
                   [(ngModel)]="model" required  [formControl]="registrationForm.controls[ 'dateOfBirth'] " value='userForm.dateOfBirth' ></my-date-picker>
                </div>
              </div>         
              <div class="form-group ">
                <label class="control-label col-sm-6 ">Id Type:</label>
                <div class="col-sm-6 ">
                  <select class="form-control " name="idType " [(ngModel)]="userForm.idType " [formControl]="registrationForm.controls['idType'] ">
                    <option value="Pan Card">Pan Card</option><!--                   
                    <option value="Aadhar Card">Aadhar Card</option> -->
                    <option value="Election Id"> Election Id</option>
                    <option value="Passport"> Passport</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-6">Gender:</label>
                  <div class="col-sm-6">
                    <label class="radio-inline">
                      <input type="radio" [(ngModel)]="userForm.gender" name="gender" value="Male" [formControl]="registrationForm.controls['gender']"> Male
                    </label>
                    <label class="radio-inline">
                      <input type="radio" [(ngModel)]="userForm.gender" name="gender" value="Female" [formControl]="registrationForm.controls['gender']"> Female
                    </label>
                    <label class="radio-inline">
                      <input type="radio" [(ngModel)]="userForm.gender" name="gender" value="TransGender" [formControl]="registrationForm.controls['gender']"> TransGender
                    </label>
                  </div>
                </div>  


              <div class="form-group ">
                <label class="control-label col-sm-6 ">Domicile:</label>
                <div class="col-sm-6 ">
                  <select class="form-control " name="domicile " [(ngModel)]="userForm.domicile " [formControl]="registrationForm.controls['domicile'] ">
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Email ID:</label>
                <div class=" col-sm-6 ">
                  <input required class="form-control"  maxlength="40" name="emailAddr " [(ngModel)]="userForm.emailAddr " [formControl]="registrationForm.controls['emailAddr'] "  type="text " placeholder="Enter Email ">
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 ">Qualification:</label>
                <div class="col-sm-6 ">
                  <!-- <input class="form-control " name="qualification" [(ngModel)]="userForm.qualification" [formControl]="registrationForm.controls[ 'qualification'] "
                    type="text " placeholder="Enter qualificaton"> -->
                    <select class="form-control " name="qualification " [(ngModel)]="userForm.qualification" [formControl]="registrationForm.controls['qualification'] "
                    (change)="changeQualificaion()">
                      <option value="LLB">LLB</option>
                      <option value="B. Sc.">B. Sc.</option>
                      <option value="B.A.">B.A.</option>                    
                      <option value="Other"> Other</option>
                    </select>
                </div>
              
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 ">Address line 1:</label>
                <div class="col-sm-6 ">
                  <input required class="form-control "  maxlength="40" name="addressLine1 " [(ngModel)]="userForm.addressLine1" [formControl]="registrationForm.controls[ 'addressLine1']"
                    type="text " placeholder="Enter Address line 1 ">
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 ">City:</label>
                <div class="col-sm-6 ">
                  <input required class="form-control "  maxlength="20" name="city " [(ngModel)]="userForm.city " [formControl]="registrationForm.controls['city'] " type="text "    placeholder="Enter City Name ">
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 ">Country:</label>
                <div class="col-sm-6 ">
                  <select class="form-control " name="country" [formControl]="registrationForm.controls[ 'country']" [(ngModel)]="userForm.country ">
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="China">China</option>
                    <option value="Rasia">Rasia</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="col-md-6 ">

              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Nationality:</label>
                <div class="col-sm-6 ">
                  <select class="form-control" ng-selected="{userForm.nationality}" name="nationality" [(ngModel)]="userForm.nationality" [formControl]="registrationForm.controls['nationality'] ">
                    <option value="Indian">Indian</option>
                    <option value="USA">USA</option>
                    <option value="China">China</option>
                    <option value="Rasia">Rasia</option>
                  </select>
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Id Type Number</label>
                <div class="col-sm-6 ">
                  <input required class="form-control"  maxlength="20"  type="text " placeholder="Enter idTypeNumber" [(ngModel)]="userForm.idTypeNumber" name="idTypeNumber " [formControl]="registrationForm.controls[ 'idTypeNumber'] ">
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-6" for="sel1">Marital status:</label>
                  <div class="col-sm-6">
                    <label class="radio-inline">
                      <input type="radio" name="maritalStatus" value="Married" [(ngModel)]="userForm.maritalStatus" [formControl]="registrationForm.controls['maritalStatus']"> Married
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="maritalStatus" value="Unmarried" [(ngModel)]="userForm.maritalStatus" [formControl]="registrationForm.controls['maritalStatus']">Unmarried
                    </label>
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6" for="sel1">Physically challanged:</label>
                    <div class="col-sm-6">
                      <label class="radio-inline">
                        <input type="radio" name="physicallyChallenged" value="Yes" [(ngModel)]="userForm.physicallyChallenged" [formControl]="registrationForm.controls['physicallyChallenged']">Yes
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="physicallyChallenged" value="No" [(ngModel)]="userForm.physicallyChallenged" [formControl]="registrationForm.controls['physicallyChallenged']">No
                      </label>
                    </div>
                </div>             

              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Pincode</label>
                <div class="col-sm-6 ">
                  <input required class="form-control" maxlength="6" type="text " placeholder="Enter pincode " [(ngModel)]="userForm.pinCode" name="pinCode " [formControl]="registrationForm.controls[ 'pinCode'] ">
                </div>
              </div>

              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Other Qualification:</label>
                <div class=" col-sm-6 " [ngClass]="{ 'disabled': otherQulificationDisable }">
                  <input class="form-control "  type="text " placeholder="Enter Other Qualification Details " name="qualificationOther" [(ngModel)]="userForm.qualificationOther "
                    [formControl]="registrationForm.controls[ 'qualificationOther'] ">
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 ">Address line 2:</label>
                <div class="col-sm-6 ">
                  <input class="form-control " type="text "  maxlength="40" placeholder="Enter Address line 2 " name="addressLine2" [(ngModel)]="userForm.addressLine2"            [formControl]="registrationForm.controls[ 'addressLine2'] ">
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">State:</label>
                <div class="col-sm-6 ">
                  <select class="form-control " name="state " [(ngModel)]="userForm.state " [formControl]="registrationForm.controls['state'] ">
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Assam"> Assam</option>
                  </select>
                </div>
              </div>

            </div>

          </div>
          <div class="form-group ">
            <div class="row ">
              <div class="col-md-12 text-right ">
                <button type="submit " [disabled]="!registrationForm.valid ||  !userForm.dateOfBirth" class="btn btn-default "> SAVE</button>
              </div>
            </div>
          </div>
        </form>
  
      </div>
      <div id="payment" class="tab-pane fade in " [class.active]="selectedTab==2" [ngClass]="{ 'disabled': !printTabHide }">
        <form class="form-horizontal"  [formGroup]="paymentForm" class="form-horizontal" (ngSubmit)="submitPaymentDetails(paymentForm.value)">
         
          <div class="form-group ">
            <div class="row ">
              <div class="col-md-12 ">
                <label class="control-label col-sm-3 ">Name of Candidate:</label>
                <div class="col-sm-8 ">
                  <label class="control-label" name="fullname"> {{userForm.firstName}} {{userForm.middleName}} {{userForm.lastName}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="row ">
              <div class="col-md-12 ">
                <label class="control-label col-sm-3 ">Payment Type:</label>    
                <div class="col-sm-4 ">      
                  <select class="form-control " name="paymentType " [(ngModel)]="userForm.paymentType" [formControl]="paymentForm.controls['paymentType'] "   (change)="changeView()">
                    <option value="Online">Online Payment</option>
                    <option value="DD/Cheque">DD/Cheque Payment</option>               
                  </select>
                </div>
              </div>  
              </div>
          </div>          
          <div [hidden]="!onlineType" >
              <div class="col-md-12 " style="padding-left: 90px;">
                  <p>
                    To get account details by email and mobile, Please click on "Send Details" button. After transfer of amount, Kindly submit 
                    transaction details below.
                    <br>This will help us to provide the Registration ID.
                  <p>
              </div>
              <div class="form-group ">
                  <div class="row ">
                    <div class="col-md-8 text-right ">
                      <button type="button"  (click)="sendDetails()" class="btn btn-default "> Send Details</button>
                    </div>
                  </div>
                </div>
              <br>
              <div class="form-group ">
                  <div class="row ">
                    <div class="col-md-12 ">
                      <label class="control-label col-sm-3 ">Bank Name:</label>    
                      <div class="col-sm-4 ">      
                        <input class="form-control" name="bankName" [(ngModel)]="userForm.bankName" type="text" placeholder="Enter Bank Name" 
                         [ngClass]="{'has-error':!paymentForm.controls['bankName'].valid}" [formControl]="paymentForm.controls['bankName']">
                      </div>
                    </div>  
                  </div>
              </div>      
              <div class="form-group ">
                  <div class="row ">
                    <div class="col-md-12 ">
                      <label class="control-label col-sm-3 ">Transaction Reference ID:</label>    
                      <div class="col-sm-4 ">      
                        <input class="form-control" name="transactionId" [(ngModel)]="userForm.tranId" type="text" placeholder="Enter Transaction ReferenceD ID" 
                         [ngClass]="{'has-error':!paymentForm.controls['tranId'].valid}" [formControl]="paymentForm.controls['tranId']">
                      </div>
                    </div>  
                  </div>
              </div> 
          </div>
        
          <div [hidden]="onlineType" >
              <div class="col-md-12 "  style="padding-left: 90px;">
                  <p>
                     To register successfully, You need to pay registration fees by cheque/DD payable in favour of Eyes On
                     Payable at Pune and send it   <br>by courier or speed post to below address. This will help us to provide
                     the Registration Id.
                     <br> <br>
                     Eyes On    <br>
                     Survey No. 282/2, 283/3,4/2/1, 4/2/2,    <br>
                     GoodWill 24 Shopee    <br>
                     Office No.-107, First Floor    <br>
                     Lohegaon, Pune - 411047 (Maharashtra
                  <p>
              </div>
              <br>
              <div class="form-group ">
                  <div class="row ">
                    <div class="col-md-12 ">
                      <label class="control-label col-sm-3 ">Bank Name:</label>    
                      <div class="col-sm-4 ">      
                        <input class="form-control" name="bankName" [(ngModel)]="userForm.bankName" type="text" placeholder="Enter Bank Name" 
                         [ngClass]="{'has-error':!paymentForm.controls['bankName'].valid}" [formControl]="paymentForm.controls['bankName']">
                      </div>
                    </div>  
                  </div>
              </div>      
              <div class="form-group ">
                  <div class="row ">
                    <div class="col-md-12 ">
                      <label class="control-label col-sm-3 ">Cheque/DD Number:</label>    
                      <div class="col-sm-4 ">      
                        <input class="form-control"  maxlength="25" name="chequeDD" [(ngModel)]="userForm.chequeDdNumber" type="text" placeholder="Enter cheque/DD Number" 
                         [ngClass]="{'has-error':!paymentForm.controls['tranId'].valid}" [formControl]="paymentForm.controls['tranId']">
                      </div>
                    </div>  
                  </div>
              </div>      
          </div>
                                
          <div class="form-group">
              <div class="row">
                <div class="col-md-12">                  
                  <div class="col-sm-3" style="text-align: right">
                      <input  (change)="agreeValue=!agreeValue" type="checkbox" > Agree 
                  </div>
                  <div class="col-sm-8" >
                      <p>
                          Registration fees is NON-REFUNDABLE.
                      <p>
                  </div>
                 
                </div>
              </div>
          </div>         
          <div class="form-group ">
            <div class="row ">
              <div class="col-md-8 text-right ">
                <button type="submit " [disabled]="!paymentForm.valid || !agreeValue" class="btn btn-default "> Submit Payment Details</button>
              </div>
            </div>
          </div>       
        
        </form>
      </div>
      <div id="printpage" class="tab-pane fade in" [class.active]="selectedTab==3">
        <form class="form-horizontal" id="printSectionId" >
          <div class="form-group ">
            <div class="row ">
              <div class="col-md-12 ">
                <label class="control-label col-sm-3 ">Registration Id:</label>
                <div class="col-sm-8 ">
                  <label class="control-label ">{{userForm.registrationId }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="row ">
              <div class="col-md-12 ">
                <label class="control-label col-sm-3 "> Name of Candidate:</label>
                <div class=" col-sm-6 ">
                  <label class="control-label tb8">  {{userForm.firstName}} {{userForm.middleName}} {{userForm.lastName}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 ">
              <div class="form-group ">
                <label class="control-label col-sm-6 ">Date of Birth:</label>
                <div class="col-sm-6 ">
                  <label class="control-label "> {{userForm.dateOfBirth  }}</label>
                </div>
              </div>
              <div class="form-group ">
                  <label class="control-label col-sm-6 ">Mobile:</label>
                  <div class="col-sm-6 ">
                    <label class="control-label ">{{userForm.mobile  }}</label>
                  </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-6 ">Email:</label>
                    <div class="col-sm-6 ">
                      <label class="control-label ">{{userForm.emailAddr  }}</label>
                    </div>
                  </div>
                  <div class="form-group ">
                      <label class="control-label col-sm-6 ">Id Type</label>
                      <div class="col-sm-6 ">
                        <label class="control-label ">{{userForm.idType  }}</label>
                      </div>
                    </div>
                <div class="form-group ">
                    <label class="control-label col-sm-6 tb8">Gender:</label>
                    <div class="col-sm-6 ">
                      <label class="control-label ">{{userForm.gender  }}</label>
                    </div>
                  </div>             

              <div class="form-group ">
                <label class="control-label col-sm-6 ">Domicile:</label>
                <div class="col-sm-6 ">
                  <label class="control-label ">{{userForm.domicile }}</label>
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Qualification:</label>
                <div class=" col-sm-6 ">
                  <label class="control-label ">{{userForm.qualification }}</label>
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 ">Address line 1:</label>
                <div class="col-sm-6 ">
                  <label class="control-label ">{{userForm.addressLine1}}</label>
                </div>
              </div> 
              <div class="form-group ">
                  <label class="control-label col-sm-6 ">Address line 2:</label>
                  <div class="col-sm-6 ">
                    <label class="control-label ">{{userForm.addressLine2 }}</label>
                  </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-6 ">Bank Name:</label>
                    <div class="col-sm-6 ">
                      <label class="control-label ">{{userForm.bankName}}</label>
                    </div>
                  </div>            

                  
                <div class="form-group ">
                    <label class="control-label col-sm-6 ">Payment Type:</label>
                    <div class="col-sm-6 ">
                      <label class="control-label ">{{userForm.paymentType}}</label>
                    </div>
                  </div>            

                  <div class="form-group ">
                      <label class="control-label col-sm-6 ">DD/Cheque Number:</label>
                      <div class="col-sm-6 ">
                        <label class="control-label ">{{userForm.chequeDdNumber}}</label>
                      </div>
                    </div>           

               
            </div>

            <div class="col-md-6 ">
              <div class="form-group ">
                  <label class="control-label col-sm-6 ">City:</label>
                  <div class="col-sm-6 ">
                    <label class="control-label ">{{userForm.city }}</label>
                  </div>
                </div>
                <div class="form-group ">
                  <label class="control-label col-sm-6 ">Country:</label>
                  <div class="col-sm-6 ">
                    <label class="control-label ">{{userForm.country }}</label>
                  </div>
                </div>

              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Nationality:</label>
                <div class="col-sm-6 ">
                  <label class="control-label ">{{userForm.nationality}}</label>
                </div>
              </div>
              <div class="form-group ">
                  <label class="control-label col-sm-6 ">Id Type Number</label>
                  <div class="col-sm-6 ">
                    <label class="control-label ">{{userForm.idTypeNumber  }}</label>
                  </div>
                </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Marital status:</label>
                <div class="col-sm-6 ">
                  <label class="control-label ">{{userForm.maritalStatus}}</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Physically challanged:</label>
                <div class="col-sm-6">
                  <label class="control-label">{{userForm.physicallyChallenged}}</label>
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Pan card:</label>
                <div class=" col-sm-6">
                  <label class="control-label">{{userForm.registrationId }}</label>
                </div>
              </div> -->
            
              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">State:</label>
                <div class="col-sm-6 ">
                  <label class="control-label ">{{userForm.state }}</label>
                </div>
              </div>
              <div class="form-group ">
                <label class="control-label col-sm-6 " for="sel1 ">Pincode</label>
                <div class="col-sm-6 ">
                  <label class="control-label ">{{userForm.pinCode }}</label>
                </div>
              </div>
            

                <div class="form-group ">
                    <label class="control-label col-sm-6 ">Transaction ID:</label>
                    <div class="col-sm-6 ">
                      <label class="control-label ">{{userForm.tranId}}</label>
                    </div>
                  </div>            

                  <div class="form-group ">
                      <label class="control-label col-sm-6 ">Transaction Amount:</label>
                      <div class="col-sm-6 ">
                        <label class="control-label ">{{userForm.tranAmount}}</label>
                      </div>
                    </div>            
                  <div class="form-group ">
                      <label class="control-label col-sm-6 ">Transaction Date:</label>
                      <div class="col-sm-6 ">
                        <label class="control-label ">{{userForm.tranDate}}</label>
                      </div>
                    </div>   

            </div>
          </div>         
          <!-- <div class="form-group " [ngClass]="{ 'has-error':!registrationForm.controls[ 'gender'].valid} ">
                <label>Gender</label>
                <!-- Here we are using the ngIf directive to display an error message if the user has not selected a gender since we can’t color the radio buttons. -->
          <!-- <div class="alert alert-danger " *ngIf="!registrationForm.controls[ 'gender'].valid ">You must select a gender.</div>
              </div>
              <div class="radio ">
                <label class="radio-inline ">
                  <input type="radio " name="gender " value="Male " [formControl]="registrationForm.controls[ 'gender'] "> Male
                </label>
              </div>
              <div class="radio ">
                <label class="radio-inline ">
                  <input type="radio " name="gender " value="Female " [formControl]="registrationForm.controls[
                'gender'] "> Female
                </label>
              </div> -->
        </form>
        <div class="form-group ">
            <div class="row ">
              <div class="col-md-12 text-right ">
                <button class="btn btn-default " (click)="printToCart('printSectionId')"> Print</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>