<!-- <!doctype html>
<html> -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link href="images/favicon.ico" rel="icon" type="image/x-icon">
</head>

<div class="container">
  <div class="detactive-form">
    <div class="row">
      <div class="col-md-4">
        <form [formGroup]="otpForm" (ngSubmit)="getOtp(otpForm.value)" class="form-inline">
          <div class="form-group" [ngClass]="{'has-error':!otpForm.controls['mobileNo'].valid && otpForm.controls['mobileNo'].touched}">
            <input class="form-control" type="text" maxlength="10" placeholder="Enter Mobile Number" [formControl]="otpForm.controls['mobileNo']">
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!otpForm.valid">Generate OTP</button>
        </form>
      </div>
      <div class="col-md-4 " [ngClass]="{ 'disabled': otpDisable }" >
        <form  [formGroup]="verifyForm" (ngSubmit)="verifyOtp(verifyForm.value)" class="form-inline">
          <div   class="form-group" [ngClass]="{'has-error':!verifyForm.controls['otp'].valid && verifyForm.controls['otp'].touched}">
            <input   class="form-control" type="text" placeholder="Enter OTP" [formControl]="verifyForm.controls['otp']">
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!verifyForm.valid" >Verify</button>
        </form>
      </div>
      <div class="form-inline">       
        <p style="color: black;">{{responseMsg}} </p>
        <!-- <button class="btn btn-default">Cancel</button> -->
      </div>
    </div>
  </div>
  <hr>
  <div class="detactive-tabs" >
    <ul class="nav nav-pills nav-justified">
      <li class="active">
        <a data-toggle="tab" href="#home">Personal</a>
      </li>
      <li>
        <a data-toggle="tab" href="#menu1">Pay Registration Fee Online (Rs. 1000)</a>
      </li>
      <li>
        <a data-toggle="tab" href="#menu2">Print Application</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3">Registration Id:</label>
                <div class="col-sm-8">
                  <label class="control-label">1354</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3"> Name of Candidate:</label>
                <div class=" col-sm-3">
                  <input class="form-control" type="text" placeholder="Enter First Name" [ngClass]="{'has-error':!registrationForm.controls['firstName'].valid}"
                    [formControl]="registrationForm.controls['firstName']">
                </div>
                <!-- We are using the ngClass directive to conditionally add a class to our div if the form is invalid -->
                <div class=" col-sm-3">
                  <input class="form-control" type="text" placeholder="Enter middle Name" [ngClass]="{'has-error':!registrationForm.controls['middleName'].valid}"
                    [formControl]="registrationForm.controls['lastName']">
                </div>
                <div class=" col-sm-3">
                  <input class="form-control" type="text" placeholder="Enter Last Name" [ngClass]="{'has-error':!registrationForm.controls['lastName'].valid}"
                    [formControl]="registrationForm.controls['lastName']">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-sm-6">Date of Birth:</label>
                <div class="col-sm-6">
                  <!-- <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"></span>
                    <span class="glyphicon glyphicon-calendar"></span>
                  </div> -->
                  <input type="date" data-date-inline-picker="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Gender:</label>
                <div class="col-sm-6">
                  <label class="radio-inline">
                    <input type="radio" name="gender" value="Male" [formControl]="registrationForm.controls['gender']"> Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="gender" value="Famale" [formControl]="registrationForm.controls['gender']"> female
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-6">Domicile:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="sel1">
                    <option>Maharashtra</option>
                    <option>Gujrat</option>
                    <option>Madya Pradesh</option>
                    <option>Asam</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Email ID:</label>
                <div class=" col-sm-6">
                  <input class="form-control" type="text" placeholder="Enter Email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Qualification:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="sel1">
                    <option>Post Graduation</option>
                    <option>Gradution</option>
                    <option>PHD</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Address line 1:</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Enter Address line 1">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">City:</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Enter City Name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Country:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="sel1">
                    <option>India</option>
                    <option>USA</option>
                    <option>China</option>
                    <option>Rasia</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Nationality:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="sel1">
                    <option>Indian</option>
                    <option>USA</option>
                    <option>China</option>
                    <option>Rasia</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Marital status:</label>
                <div class="col-sm-6">
                  <label class="radio-inline">
                    <input type="radio" name="optradio" checked>Married
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optradio">Unmarried
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Physically challanged:</label>
                <div class="col-sm-6">
                  <label class="radio-inline">
                    <input type="radio" name="optradio" checked>Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="optradio">No
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">PAN card:</label>
                <!-- <div class="col-sm-2">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div> -->
                <div class=" col-sm-6">
                  <input class="form-control" type="text" placeholder="Enter PAN">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Other Qualification:</label>
                <div class=" col-sm-6">
                  <input class="form-control" type="text" placeholder="Enter Other Qualification Details">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Address line 2:</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Enter Address line 2">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">State:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="sel1">
                    <option>Maharashtra</option>
                    <option>Gujrat</option>
                    <option>Madya Pradesh</option>
                    <option>Asam</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Pincode</label>
                <div class="col-sm-6">
                  <input class="form-control" type="text" placeholder="Enter pincode">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 text-right">
                <button class="btn btn-default"> SAVE</button>
              </div>
            </div>
          </div>
          <!-- <div class="form-group " [ngClass]="{'has-error':!registrationForm.controls['gender'].valid}">
            <label>Gender</label>
            <!-- Here we are using the ngIf directive to display an error message if the user has not selected a gender since we can’t color the radio buttons. -->
          <!-- <div class="alert alert-danger" *ngIf="!registrationForm.controls['gender'].valid">You must select a gender.</div>
          </div>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="gender" value="Male" [formControl]="registrationForm.controls['gender']"> Male
            </label>
          </div>
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="gender" value="Female" [formControl]="registrationForm.controls['gender']"> Female
            </label>
          </div> -->
        </form>
      </div>
      <div id="menu1" class="tab-pane fade">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3">Registration Id:</label>
                <div class="col-sm-8">
                  <label class="control-label">1354</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3">Name of Candidate:</label>
                <div class="col-sm-8">
                  <label class="control-label">machel smith</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="remember"> Remember me</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Pay Now</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="menu2" class="tab-pane fade">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3">Registration Id:</label>
                <div class="col-sm-8">
                  <label class="control-label">1354</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label class="control-label col-sm-3"> Name of Candidate:</label>
                <div class=" col-sm-6">
                  <label class="control-label "> Manoj Ashok Dhumal</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-sm-6">Date of Birth:</label>
                <div class="col-sm-6">
                  <label class="control-label "> 05/March/1980</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Gender:</label>
                <div class="col-sm-6">
                  <label class="control-label">Male</label>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-6">Domicile:</label>
                <div class="col-sm-6">
                  <label class="control-label">Maharashtra</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Qualification:</label>
                <div class=" col-sm-6">
                  <label class="control-label">PHD</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Address line 1:</label>
                <div class="col-sm-6">
                  <label class="control-label">Hadpasar</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">City:</label>
                <div class="col-sm-6">
                  <label class="control-label">Pune</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Country:</label>
                <div class="col-sm-6">
                  <label class="control-label">India</label>
                </div>
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Nationality:</label>
                <div class="col-sm-6">
                  <label class="control-label">Indian</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Marital status:</label>
                <div class="col-sm-6">
                  <label class="control-label">Married</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Physically challanged:</label>
                <div class="col-sm-6">
                  <label class="control-label">No</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Pan card:</label>
                <div class=" col-sm-6">
                  <label class="control-label">ADSPD334R</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6">Address line 2:</label>
                <div class="col-sm-6">
                  <label class="control-label">Solapur Road</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">State:</label>
                <div class="col-sm-6">
                  <label class="control-label">Maharastra</label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-6" for="sel1">Pincode</label>
                <div class="col-sm-6">
                  <label class="control-label">412345</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 text-right">
                <button class="btn btn-default"> Print</button>
              </div>
            </div>
          </div>
          <!-- <div class="form-group " [ngClass]="{'has-error':!registrationForm.controls['gender'].valid}">
                <label>Gender</label>
                <!-- Here we are using the ngIf directive to display an error message if the user has not selected a gender since we can’t color the radio buttons. -->
          <!-- <div class="alert alert-danger" *ngIf="!registrationForm.controls['gender'].valid">You must select a gender.</div>
              </div>
              <div class="radio">
                <label class="radio-inline">
                  <input type="radio" name="gender" value="Male" [formControl]="registrationForm.controls['gender']"> Male
                </label>
              </div>
              <div class="radio">
                <label class="radio-inline">
                  <input type="radio" name="gender" value="Female" [formControl]="registrationForm.controls['gender']"> Female
                </label>
              </div> -->
        </form>
      </div>
    </div>
  </div>
</div>